* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 90%;
    margin: auto;

}
.d-flex{
    display: flex;
}
.j-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.j-center{
    justify-content: center;
}
.img-fluid{
    width: 100%;
}
.list-unstyled{
    list-style: none;
}
.decoration-none{
    text-decoration: none;
}
a{
    text-decoration: none;
}
.header{
    padding: 30px 30px;
   position: fixed;
   width: 100%;
   z-index: 5;
   background: #fff;
}
.header .logo img{
    width: 220px;
    height: 46px;
}
.menu{
    margin-right: 200px;
}
.menu a{
    padding: 0 20px;
    font-size: 12px ;
    color: #96929A;
    font-weight: 700;
}
.menu a:hover{
    color: #000;
}
.nav-call{
    border: 1px solid #fff;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #fff;
   
}
.nav-call span{
    font-size: 13px;
    font-weight:700 ;
    color: #96929A;
}
.nav-call a{
    font-size: 12px;
    font-weight: 700;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-call a:hover{
    color:#10D4C2 ;
}
.nav-call img{
    padding: 0 15px;
}
.welcome{
    padding: 15rem 0;
    position: relative;
}
.welcome .welcome-content{
    width: 50%;
}
.welcome .welcome-img{
    position: absolute;
    top: 0;
    right: 50px;
}
.welcome .welcome-img img{
    width: 540px;
    height: 700px;
    border-radius: 0px 0px 362px 362px;
} 
.welcome .welcome-content h1{
    font-size:3.8em;
    text-transform: capitalize;
    line-height: 70px;
    margin: 2rem 0;
    color: #171151;
}
.welcome .welcome-content span{
    color: #0e63ff;
    text-transform: uppercase;
    font-weight: 700;
}
.welcome .welcome-content p{
color: #888;
font-weight: 600;
font-size: 18px;
margin-bottom:45px ;
line-height: 29px;
width: 80%;
}
.welcome .welcome-content .welcome-buttons a{
    display: inline-block;
    margin: 20px;
    margin-left: 0;
    background: #0E63FF;
    padding:25px 45px ;
    color: #fff;
    border-radius: 5px;

}
.welcome .welcome-content .welcome-buttons .btn-app{
    background: #10d0a1;
    padding:25px 45px;
}
.header-item1, .header-item2, .header-item3{
 border: 1px solid #eceef3;
 padding: 20px 22px;
 border-radius: 10px;
 margin: 50px 15px;
}
.header-item span{
   font-size: 15px;
   font-weight: 500;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search{
   background:url("..//image/shape-bg-01.png");
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-color: #f2f5fa;
   padding-top: 95px;
}
.search-area{
    padding:40px 45px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    margin-bottom: 200px;
}
.search input{
    width: 90%; 
    padding: 35px 150px 35px 35px;
    border: 2px solid #10d0a1;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
   
}

.search-btn button{
   display: flex;
    padding: 15px 45px;
    background-color: #0e63ff;
    border: 2px solid #0e63ff;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 35%;
    right: 15px;
    transform: translate(-50%);
    border-radius: 5px;
    cursor: pointer;
}
.search-btn i{
    padding: 0 5px;
}
.search span{
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    color: #0e63ff;
    padding: 0 50px;
    margin-bottom: 20px;
}
.search h3{
   font-size: 43px;
   padding:0 30px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-bottom: 50px;
}
.service-area .service-item{
    background-color: #fff;
    width: 400px;
    height: 460px;
    border-radius: 5px;
    padding: 70px 55px 70px 50px;
    font-size: 32px;
    margin-right: 20px;
}
.service-area .service-item h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.service-area .service-item p{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-bottom: 45px;
}
.service-area .service-item i{
    background: #e7faf6;
    color: #10d0a1;
    width: 85px;
    height: 85px;
    text-align: center;
    line-height: 95px;
    margin-bottom: 30px;
}
.service-area .service-item a{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}
